Makefile*
*.a
*.o
.deps*
*.cache
*.m4
stamp*
src/itsfogapp
depcomp
missing
install-sh
compile
libtool
*.dump
*.log
*.pdf
simulations/densities*
simulations/results*
config.guess
config.status
config.sub
configure
src/config.h
