Makefile*
*.a
*.o
.deps*
*.cache
*.m4
stamp*
src/itsfogapp
depcomp
missing
install-sh
compile
libtool
*.dump
*.log
*.pdf
*.tgz
simulations/tmp*
config.guess
config.status
config.sub
configure
src/config.h
simulations/densities/archives*
simulations/densities/common/highway.*.sumo.cfg
